// colors
$text-color-black: rgba(0, 0, 0, 1);
$text-color-white: rgba(255, 255, 255, 1);
$body-white: #e5e5e5;
$header-white: #fff;
$accent-color: #839364;

// fonts
$main-font: "Arial", sans-serif;
$heading-font: "Bebas Neue", sans-serif;

//  animation
$cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
