<section class="about">
  <div class="container">
    <h2 class="about__heading">Хто ми?</h2>
    <p>
      "Сильна Нація" - це благодійна організація, яка була створена під час
      військової агресії зі сторони РФ, для підтримки України. Справжні патріоти
      з усієї країни об'єдналися заради спільної мети - надавати гуманітарну
      допомогу постраждалим громадянам, ресурсно та грошово підтримувати ЗСУ,
      допомагати українським підприємствам та прикласти всі зусилля для
      пришвидчення нашої перемоги, адже ми сильна нація. <br /><br />
      Благодійна організація "Сильна Нація" займається організацією збору та
      доставки харчових продуктів, засобів особистої гігієни, важливих
      медикаментів для всіх потребуючих громадян та безпосередньою допомогою й
      забезпеченням усім необхідним Збройні Сили України.<br /><br />
      Наша організація відкрита до комунікації та співпраці з будь-якими
      свідомими громадянами з України, та за її межами. Ми будемо вдячні за будь
      яку інформаційну, грошову або фізичку допомогу, поширення інформації про
      організацію та пропозиції по створенню сумісних проектів, інвестування та
      благодійним внескам. Разом ми переможемо!
    </p>
  </div>
</section>
<section class="achievments">
  <h2 class="about__heading about__heading--achievments">
    нашi досягнення за 24 днi 15:20:03
  </h2>
  <ul class="achievments__list">
    <li class="achievments__item">
      <span>1240 </span> <br />
      одиниць Збройної техніки
    </li>
    <li class="achievments__item">
      <span>150 340 </span> <br />
      грн на підтримку зсу
    </li>
    <li class="achievments__item">
      <span>5430</span> <br />
      кілограм продуктів
    </li>
    <li class="achievments__item">
      <span>350</span> <br />вантажівок з ліками
    </li>
  </ul>
</section>
