<section class="gallery">
  <div class="container">
    <marquee
      behavior="alternate"
      direction="right"
      scrollamount="5"
      style="animation: marquee 5s linear infinite"
    >
      <img
        loading="lazy"
        width="136px"
        height="84px"
        src="/src/images/gallery-slider/1.jpg"
        style="display: inline-block"
      />
      <img
        loading="lazy"
        width="136px"
        height="84px"
        src="/src/images/gallery-slider/2.jpg"
        style="display: inline-block"
      />
      <img
        loading="lazy"
        width="136px"
        height="84px"
        src="/src/images/gallery-slider/3.jpg"
        style="display: inline-block"
      />
      <img
        loading="lazy"
        width="136px"
        height="84px"
        src="/src/images/gallery-slider/4.jpg"
        style="display: inline-block"
      />
      <img
        loading="lazy"
        width="136px"
        height="84px"
        src="/src/images/gallery-slider/5.jpg"
        style="display: inline-block"
      />
    </marquee>
    <marquee
      behavior="alternate"
      direction="left"
      scrollamount="5"
      style="animation: marquee 5s linear infinite"
    >
      <img
        loading="lazy"
        width="136px"
        height="84px"
        src="/src/images/gallery-slider/6.jpg"
        style="display: inline-block"
      />
      <img
        loading="lazy"
        width="136px"
        height="84px"
        src="/src/images/gallery-slider/7.jpg"
        style="display: inline-block"
      />
      <img
        loading="lazy"
        width="136px"
        height="84px"
        src="/src/images/gallery-slider/8.jpg"
        style="display: inline-block"
      />
      <img
        loading="lazy"
        width="136px"
        height="84px"
        src="/src/images/gallery-slider/9.jpg"
        style="display: inline-block"
      />
      <img
        loading="lazy"
        width="136px"
        height="84px"
        src="/src/images/gallery-slider/6.jpg"
        style="display: inline-block"
      />
    </marquee>
  </div>
</section>
