<section class="gallery">
  <div class="container">
    <div class="swiper mySwiperGallery">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img
            src="/src/images/gallery-slider/2.jpg"
            alt=""
            width="136px"
            height="84px"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="/src/images/gallery-slider/3.jpg"
            alt=""
            width="136px"
            height="84px"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="/src/images/gallery-slider/4.jpg"
            alt=""
            width="136px"
            height="84px"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="/src/images/gallery-slider/5.jpg"
            alt=""
            width="136px"
            height="84px"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="/src/images/gallery-slider/7.jpg"
            alt=""
            width="136px"
            height="84px"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="/src/images/gallery-slider/8.jpg"
            alt=""
            width="136px"
            height="84px"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="/src/images/gallery-slider/9.jpg"
            alt=""
            width="136px"
            height="84px"
          />
        </div>
      </div>
    </div>
  </div>
</section>
