<header class="page-header">
  <div class="container">
    <nav class="main-nav">
      <div class="logo">
        <a href="index.html" class="logo-link"
          ><img src="./images/logo.png" alt=""
        /></a>
      </div>

      <ul class="site-nav">
        <li class="current-page item">
          <a href="index.html" class="site-nav-link">про нас</a>
        </li>
        <li class="item">
          <a href="#" class="site-nav-link">Досягнення</a>
        </li>
        <li class="item"><a href="#" class="site-nav-link">пiдтримати</a></li>
      </ul>
    </nav>
  </div>
</header>
