<header class="header">
  <div class="container">
    <nav class="header__nav">
      <div class="header__logo">
        <a href="index.html" class="logo-link"
          ><img src="./images/logo.png" alt=""
        /></a>
      </div>
      <button
        class="menu-toggle js-open-menu"
        aria-expanded="false"
        aria-controls="mobile-menu"
      >
        <svg width="8" height="16" aria-label="mobile menu">
          <use
            class="icon__menu"
            href="./images/spryte.svg#icon-Vector-114"
          ></use>
        </svg>
        <svg width="8" height="16" aria-label="mobile menu">
          <use
            class="icon__menu"
            href="./images/spryte.svg#icon-Vector-114"
          ></use>
        </svg>
        <svg width="8" height="16" aria-label="mobile menu">
          <use
            class="icon__menu"
            href="./images/spryte.svg#icon-Vector-114"
          ></use>
        </svg>
      </button>
    </nav>
  </div>
</header>
