<div class="formInput hidden">
  <form action="" name="inputJS">
    <label for="">
      Область
      <select name="chooseoblast" id="chooseoblast">
        <option value="0">Луцьк</option>
        <option value="1">Миколаїв</option>
        <option value="2">Кіровоград</option>
        <option value="3">Полтава</option>
        <option value="4">Херсон</option>
        <option value="5">Суми</option>
        <option value="6">Крим</option>
        <option value="7">Рівне</option>
        <option value="8">Хмельницький</option>
        <option value="9">Житомир</option>
        <option value="10">Вінниця</option>
        <option value="11">Одеса</option>
        <option value="12">Черкаси</option>
        <option value="13">Ужгород</option>
        <option value="14">Львів</option>
        <option value="15">Івано-Франківськ</option>
        <option value="16">Чернігів</option>
        <option value="17">Тернопіль</option>
        <option value="18">Чернівці</option>
        <option value="19">Дніпро</option>
        <option value="20">Запоріжжя</option>
        <option value="21">Харків</option>
        <option value="22">Донецьк</option>
        <option value="23">Луганськ</option>
        <option value="24">Київ</option>
      </select>
    </label>
    <label for="">
      <input type="text" placeholder="number" id="upperBubble" />
    </label>
    <label for="">
      <input type="text" placeholder="text" id="lowerBubble" />
    </label>
    <button type="submit">Send Data</button>
  </form>
</div>
