.about {
  padding: 28px;
  font-family: "Arial";
  font-weight: 400;
  font-size: 12px;
  line-height: calc(14 / 12);

  color: #000000;

  &__heading {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: calc(37 / 30);
    margin-bottom: 12px;
    text-align: center;

    &--achievments {
      margin: auto;
      text-transform: uppercase;
      width: 300px;
      color: $header-white;
    }
  }
}

.achievments {
  color: $header-white;
  padding: 28px 0;
  background: $accent-color;
  font-family: "Bebas Neue";
  font-size: 14px;
  line-height: calc(48 / 40);
  text-align: center;
  text-transform: uppercase;

  &__list {
    margin: 20px;
    display: grid;
    grid-template-columns: auto auto;
  }

  &__item:nth-child(-n + 2) {
    padding-bottom: 36px;
    border-bottom: 2px solid white;
  }

  &__item:nth-child(1) {
    padding-top: 36px;
  }

  &__item:nth-child(n + 2) {
    padding-top: 36px;
    padding-bottom: 36px;
  }

  &__item:nth-child(odd) {
    padding-right: 33px;
    border-right: 2px solid white;
  }

  &__item:nth-child(even) {
    padding-left: 33px;
  }

  &__item span {
    font-size: 40px;
  }

  &__wrapper {
    position: relative;
  }

  &__element {
    position: absolute;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
    background-color: $accent-color;
    top: 50%;
    left: 50%;
    z-index: 2;
  }
}
