.header {
  position: absolute;
  scroll-behavior: fixed;
  width: 100%;
  background: $header-white;
  opacity: 0.7;
  padding: 12px 18px;

  &__logo {
    width: 96px;
    height: 42px;
  }

  &__nav {
    display: flex;
    justify-content: space-between;
  }
}

.menu-toggle {
  cursor: pointer;
  padding-top: 14px;
  display: flex;
  background-color: transparent;
  border: none;
}
