.map {
  padding: 24px 8px;
  background-image: url(/src/images/map-bg.png);
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */

  &__svg {
    fill: green;
  }
}

.oblast {
  position: relative;
  display: flex;
  justify-content: center;

  margin-bottom: 32px;

  &-text {
    position: absolute;
    left: 50%;
    top: 50%;

    font-family: $heading-font;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: calc(24 / 20) px;

    color: $header-white;
  }
}

.charity-items {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.charity-item {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  padding: 24px;

  background: rgba(132, 148, 100, 0.6);
  border: 1px solid $header-white;
  color: $header-white;
  font-family: $heading-font;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(24 / 20) px;
  text-transform: uppercase;
  text-align: center;

  &--bigger {
    font-size: 50px;
    line-height: calc(60 / 50) px;
  }
}
