.map {
  padding: 24px 8px;
  background-image: url(/src/images/map-bg.png);
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */

  &__svg {
    fill: green;
  }
}

.oblast {
  position: relative;
  display: flex;
  justify-content: center;

  margin-bottom: 32px;

  &-text {
    position: absolute;
    left: 50%;
    top: 50%;

    font-family: $heading-font;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: calc(24 / 20) px;

    color: #ffffff;
  }
}

.charity-items {
}
